body{
    text-align: center;
    font-family: 'Lobster', cursive;
    margin-top: 4em;
    font-size: 4em;
    color: white;
}

#ochtend{
    background-image: url('../img/morning.png');
    background-size: cover;
}

#middag{
    background-image: url('../img/afternoon.png');
    background-size: cover;
}

#avond{
    background-image: url('../img/evening.png');
    background-size: cover;
}

#nacht{
    background-image: url('../img/night.png');
    background-size: cover;
}
